.navbarBody {
    background-color: #fff5eb;
}

.wordBody{
    color: #845b38;
}
.kajartaLogo {
    width: 120px;
}

.likecard-container {
    display: flex;
    flex-wrap: nowrap; /* 讓卡片不換行，如果需要換行則使用 wrap */
    overflow-x: auto; /* 如果卡片太多，允許橫向滾動 */
  }
  
  .card {
    margin-right: 16px; /* 卡片之間的間距 */
    flex: 0 0 auto; /* 讓卡片不縮放 */
    width: 300px; /* 設置卡片的固定寬度 */
  }
  
  .card-body {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .card-text {
    font-size: 1rem;
    color: #555;
  }